* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px 2px 30px;
    z-index: 12;
    background: rgba(19, 18, 18, 0.5);
}

form {
    display: flex;
    align-items: center;
}

form button {
    background: transparent;
    cursor: pointer;
    border: 1px transparent;
}

.cart {
    width: 350px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.cartTitle {
    display: flex;
    justify-content: space-evenly;
}

.textmenu {
    text-align: center;
}

.iconMobile {
    justify-content: center;
    width: 60px;
    display: none;
}

.margimg {
    margin-left: 20px;
}

.langimg {
    width: 50px;
}

.navbar_left {
    display: flex;
    gap: 50px;
}

.DesktopMenu {
    display: flex;
}

.navbar_right {
    color: white;
    font-family: "GT Bold";
    display: flex;
}

.tabsmenu {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    z-index: 9;
}

.tabsmenu:active{
    transform: scale(0.945);
}

.tabsmenu {
    transform: scale(0.75);
    fill: #CCCCCC;
    padding-top: 3px;
    transition: 0.3s;
}

.logomenu {
    width: 75px;
    margin: auto;
    display: flex;
}

.logodiv:active{
    transform: scale(0.945);
}

.svg {
    transform: scale(0.75);
    fill: #CCCCCC;
    padding-top: 3px;
    transition: 0.3s;
}

.logodiv {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    z-index: 9;
}

.logodiv * {
    pointer-events: none;
}

.logodiv:active{
    transform: scale(0.945);
}

.svg {
    transform: scale(0.75);
    fill: #CCCCCC;
    padding-top: 3px;
    transition: 0.3s;
}

.svg2 {
    width: 20px;
    margin-right: 6px;
    transition: 0.3s;
}

.gh {
    padding-bottom: 3px;
    transform: scale(1.5);
    fill: white;
    padding-top: 3px;
    transition: 0.3s;
}

.logodiv h3 {
    color: white;
    font-family: "GT Bold";
}

form input:active {
    transform: scale(0.97);
}

form button {
    transition: 0.2s all;
}

form button:active {
    transform: scale(0.9);
}

@media screen and (max-width: 850px) and (min-width: 770px) {
    .navbar_left,
    .navbar_right {
        gap: 35px;
    }
}

@media screen and (max-width: 990px) {
    .iconMobile {
        display: block;
    }

    .DesktopMenu {
        display: none;
    }

    .cart {
        width: 250px;
    }
}

@media screen and (max-width: 770px) {
    .navbar_left {
        justify-content: center;
    }

    .navbar_right {
        justify-content: space-around;
        gap: 0px;
    }
}

@media screen and (max-width: 485px) {
    .navbar {
        padding: 5px 15px;
    }
}

@media screen and (max-width: 485px) {
    .logomenu {
        width: 60px;
    }

    .margimg {
        margin-left: 0px;
    }

    .iconMobile {
        width: 35px;
    }
    
    .langimg {
        width: 40px;
    }

    .cart {
        width: 200px;
    }

    .cartTitle {
        display: block;
    }
}